@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Crimson+Text:600,700);

/*****************************************************
	NEW CSS
******************************************************/
/*==================================
GLOBAL CSS
====================================*/
BODY {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color:#f0f0f0;	
	line-height:1.5;
}

H1 {
	/*(used from landing, list pages)*/
	font-family: 'Crimson Text', Georgia, serif;
	font-size: 24px;
	color: #000000;
	font-weight: normal;
}

H1.articleTitle {
	/*for the detail page titles*/
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	padding-bottom: 10px;
}

H2 {
	font-family: 'Crimson Text', Georgia, serif;
	font-size: 18px;
	color: #000000;
	font-weight: normal;
}

H2.articleTitle {
	/*for subtitles*/
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #000000;
	font-weight: normal;
}

H3 {
	font-family: 'Crimson Text', Georgia, serif;
	font-size: 12px;
	color: #003E71;
	font-weight: normal;
	text-transform:uppercase;
}

H2 a {
	color: #000;
	font-weight: normal;
	padding-bottom: 0px;
}

A {
	color: #000099;
	text-decoration: none;
}

A:hover {
	text-decoration: underline;
	color: #0059EC;
}

A.view {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #00000;
}

.list .userAction, .userAction {
	/*for the little blue subscribe link*/
	font-family: 'Crimson Text', Georgia, serif;
	font-size: 12px;
	font-weight: bold;
	color: #003768;
}

P {
	margin-bottom:18px;
}

DIV.spacer {
	margin-bottom: 20px;
}

hr {
	color: #B3B3B3;
	border-bottom: 1px solid;
	margin-bottom: 10px;
}

#main-content li {
	margin-top: 9px;
}

.promo-overlay {
  filter:Alpha(opacity=65);
  background-color: #000;
  opacity: 0.65;
  color:#fff;
  bottom:0;
  left:0;
  overflow:hidden;
  padding:0px 0px 0px 0px;
  position:absolute;
  width:100%;
}

.promo-overlay a {
        color: #FFFFFF;
}
.promo-module {
        position: relative; 
        overflow: hidden;
}
.promo-text {
       padding: 5px;
}

.js .overlabel {
       margin: 0px;
       position: absolute;
       z-index: 1;
       color: #999999;
}

#gov-delivery-form label {
       font-style: italic;
       font-size: 11px;
	   display:inline;
}

LEGEND {
	display:none;
}

/*==================================
Landing Page CSS
====================================*/
#spotlight a, #media a {
	color: #000000;
}

#spotlight ul > li > a{
	font-size: 11px;
}
#pressRelease ul,
#spotlight ul,
#moreAbout ul {
	list-style-type: square;
	color: #999;
}

#pressRelease ul > li > a {
	font-size: 12px;
	font-weight: bold;
	color: #0B2149;
}

DIV.alert {
	background-color: #CCCCCC;
	border-top: solid 5px #FBC22A;
	padding: 5px;
}

.alert a {
        color: #000000;
}

#pressRelease #appIconsList {
       padding: 0px;
}

#subscribe-form {
  margin-bottom:4px;
  position:relative;
}
#subscribe-form label.overlabel {
  left:5px;
  margin-right:0;
  position:absolute;
  top:22px;
  z-index:1;
}

.list a {
	color: #000000;
	padding-bottom: 0px;
}

/*==================================
List Page CSS
====================================*/
#spotlightTopicsTitle {
	font-family: 'Crimson Text', Georgia, serf;
	font-size: 16px;
	font-weight: bold;
	color: #003768;
	text-align: center;
}

#spotlightTopicsBox {
	width: 140;
	border-color: #E4E4E4;
	border-width: 5px;
	border-style: solid;
	padding-bottom: 10px;
}

#appIconsList {
	text-align: right;
	padding-top: 15px;
}

.filter {
	border-bottom: thin solid #ccc;
}

.list{
	width: 622px;
}

.list th {
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	padding: 3px;
	border-bottom: thin solid #ccc;
}

.list td {
	padding: 3px;
	padding-bottom: 10px;
}

.viewArchive {
	float: right;
	padding-right: 5px;
	font-weight: bold;
}

#returnToTopLink {
	font-weight: bold;
}

DIV.header {
	border: thin solid #ccc;
	width: 620px;
	
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E3E3E3));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #E3E3E3 100%);
	
	background-color: #EEEEEE;
	
	}

TR.header {
	border-bottom: thin solid #ccc;
	background-color: #E3E3E3;
}	
	
.monthBar {
	border-top: thin solid #ccc;
	border-bottom: thin solid #ccc;
	width: 620px;
	
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #F6F6F6 0%, #FFFFFF 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #F6F6F6 0%, #FFFFFF 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #F6F6F6 0%, #FFFFFF 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F6F6F6), color-stop(1, #FFFFFF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #F6F6F6 0%, #FFFFFF 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #F6F6F6 0%, #FFFFFF 100%);
}

.monthBar TH {
	font-family: 'Crimson Text', Georgia, serf;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	color: #003768;
	text-transform:uppercase;
}

.listCol1 .listCol3 {
	font-size: 12px;
	color: #00000;
}

.listCol2 a {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000099;
}

.listCol2 a:hover {
	text-decoration: underline;
	color: #0059EC;
}

#breadcrumb {
	float:left; 
	clear:left;
	margin-left: 10px;
}

#listSpotlight ul > li > a{
	font-size: 11px;
	color: #000099;
}

#listSpotlight ul {
	list-style-image: url(http://www.sec.gov/images/right-pointing-single-arrow-203759.gif);
}

#listFooter {
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #F6F6F6 0%, #FFFFFF 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #F6F6F6 0%, #FFFFFF 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #F6F6F6 0%, #FFFFFF 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F6F6F6), color-stop(1, #FFFFFF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #F6F6F6 0%, #FFFFFF 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #F6F6F6 0%, #FFFFFF 100%);
	
	border: 1px solid #ccc;
}

.primary {
	display: inline-block;
	font-weight: bold;
	padding: 2px 5px;
	margin: 0px 0px 0px 5px;
	font-size: 12px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #696969;
	background-image: -moz-linear-gradient(top, #888888, #444444);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#888888), to(#444444));
	background-image: -webkit-linear-gradient(top, #888888, #444444);
	background-image: -o-linear-gradient(top, #888888, #444444);
	background-image: linear-gradient(to bottom, #888888, #444444);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	border-color: #888888 #888888 #000000;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#444444', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	line-height: normal !important;
	cursor: pointer;
}	

.primary:focus {
	background-image: -moz-linear-gradient(top, #C6E2FF, #457ea5);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#C6E2FF), to(#457ea5));
	background-image: -webkit-linear-gradient(top, #C6E2FF, #457ea5);
	background-image: -o-linear-gradient(top, #C6E2FF, #457ea5);
	background-image: linear-gradient(to bottom, #C6E2FF, #457ea5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C6E2FF', endColorstr='#457ea5', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #000000;
	text-shadow: none;
}


/*==================================
Detail Page CSS
====================================*/

.insetText {
	border: solid 5px #e4e4e4; 
	padding: 5px; 
	color: #666666;
}

.insetText H1 {
	font-family: 'Crimson Text', Georgia, serf;
	font-size: 16px;
	font-weight: bold;
	color: #003E71;
}

.insetText UL {
	list-style-type: square;
}

.addthis_toolbox {
	float:right;
}
#relatedMaterials ul {
	list-style-type: square;
	color: #999;
}

#relatedMaterials ul li a {
	font-size: 12px;
	color: #000099;
}

#releaseNo {
	font-weight: bold;
	text-align: left;
	padding-bottom: 5px;
}

.modified {
	float: right;
	font-size: 9px;
	color: #666666;
}

.type {
	font-family: 'Crimson Text', Georgia, serif;
	font-size: 14px;
	color: #003E71;
	text-transform: uppercase;
}

/*added css to match legacy pages*/
/* secCM.css Updates from JJW, 2013-05-28 */
#main-content.pressrelease ul,
#main-content.publicstmt ul,
#main-content.speech ul,
#main-content.article ul,
#main-content.testimony ul {
  padding: 0 0 0 36px;
  margin-bottom: 18px;
}

#main-content.pressrelease ol,
#main-content.publicstmt ol,
#main-content.speech ol,
#main-content.article ol,
#main-content.testimony ol {
  padding: 0 0 0 36px;
  margin-bottom: 18px;
}

#main-content.pressrelease ul > li,
#main-content.publicstmt ul > li,
#main-content.speech ul > li,
#main-content.article ul > li,
#main-content.testimony ul > li {
	margin-top: 9px;
	margin-bottom: 9px;
}

#main-content.pressrelease blockquote,
#main-content.publicstmt blockquote,
#main-content.speech blockquote,
#main-content.article blockquote,
#main-content.testimony blockquote {
	margin: 10px 36px 10px 36px;
}

#main-content.pressrelease p.em2,
#main-content.publicstmt p.em2,
#main-content.speech p.em2,
#main-content.article p.em2,
#main-content.testimony p.em2 {
	margin-left: 2em;
}

#main-content.pressrelease p.center,
#main-content.publicstmt p.center,
#main-content.speech p.center,
#main-content.article p.center,
#main-content.testimony p.center {
	text-align: center;
}

/* Proposed fix for footnote sizing */
/* HTML is inconsistent across content, but almost all have  */
#main-content.pressrelease sup,
#main-content.publicstmt sup,
#main-content.speech sup,
#main-content.article sup,
#main-content.testimony sup,
#main-content.pressrelease sup a,
#main-content.publicstmt sup a,
#main-content.speech sup a,
#main-content.article sup a,
#main-content.testimony sup a {
	font-size: 11px;
}


#main-content.pressrelease a:hover,
#main-content.publicstmt a:hover,
#main-content.speech a:hover,
#main-content.article a:hover,
#main-content.testimony a:hover {
	text-decoration: underline;
}

#main-content.pressrelease .pressvideobox,
#main-content.pressrelease #pressimagebox {
	width: 196px;
	float: right;
	clear: right;
	margin: 0 0 1em 1em;
}

#main-content.pressrelease .pressvideobox div,
#main-content.pressrelease #pressimagebox div {
	border: 1px solid #454545;
	padding: 12px;
	background-color: #e3ecf7;
	text-align: center;
}

#main-content.pressrelease .pressvideoboxcaption {
	font-weight: bold;
}

#main-content.pressrelease #pressimagebox h3 {
  margin-top:0;
  margin-bottom:0.5em;
}

#main-content.pressrelease #relatedMaterials > ul,
#main-content.publicstmt #relatedMaterials > ul,
#main-content.speech #relatedMaterials > ul,
#main-content.article #relatedMaterials > ul,
#main-content.testimony #relatedMaterials > ul {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 0px 0px;
}

#main-content.pressrelease #relatedMaterials > ul > li,
#main-content.publicstmt #relatedMaterials > ul > li,
#main-content.speech #relatedMaterials > ul > li,
#main-content.article #relatedMaterials > ul > li,
#main-content.testimony #relatedMaterials > ul > li {
	padding: 0px 0px 0px 0px;
	margin: 9px 0px 0px 0px;
}

#main-content.pressrelease #moreAbout > ul,
#main-content.publicstmt #moreAbout > ul,
#main-content.speech #moreAbout > ul,
#main-content.article #moreAbout > ul,
#main-content.testimony #moreAbout > ul {
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 0px 0px;
}

#main-content.pressrelease #moreAbout > ul > li,
#main-content.publicstmt #moreAbout > ul > li,
#main-content.speech #moreAbout > ul > li,
#main-content.article #moreAbout > ul > li,
#main-content.testimony #moreAbout > ul > li {
	padding: 0px 0px 0px 0px;
	margin: 9px 0px 0px 0px;
}

.listCol3 H2 {
	font-family: verdana;
	font-size: 12px;
	font-weight: normal;
}

.listCol3 H3 {
	font-family: verdana;
	font-size: 12px;
	font-weight: normal;
}

.listCol3 H4 {
	display: none;
	font-family: verdana;
	font-size: 12px;
	font-weight: normal;
}

.listCol3 em {
	display: none;
}

.listCol3 i {
	display: none;
}

.listCol3 strong {
	font-family: verdana;
	font-size: 12px;
	font-weight: normal;
}

.listCol3 b {
	font-family: verdana;
	font-size: 12px;
	font-weight: normal;
}

/*==================================
Print CSS
====================================*/
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  #global-header, #local-nav, #global-footer { display: none; }
  body { font-size: 12pt }
  H1.articleTitle { font-size: 15pt }
  #main-content h2 { font-size: 14pt }
  
}

/*****************************************************
	LEGACY CSS
******************************************************/
/* ==========================================================================================
   $Layout
   ========================================================================================== */ 
/* ------------------------------------------------------------------------------------------
   Basic Template
   ------------------------------------------------------------------------------------------ */
/* Vertical spacing */
#global-header,
#local-nav,
#main-content,
#sidebar {
  margin-bottom:20px;
}
/*
Page wrapper
*/
#global-wrapper-bg-1 {
  margin:0 auto;
  padding-bottom:54px;
}

#global-wrapper-bg-2 {
      margin-bottom:0;
    }

    #global-wrapper-bg-3 { 
      margin-bottom:0;
      padding-bottom:10px;
}

#global-wrapper {
      background-color:#fff;
      margin-bottom:0;
      padding-bottom:10px;
      position:relative;
	  -moz-box-shadow:    0px -2px 10px 2px #ccc;
	  -webkit-box-shadow: 0px -2px 10px 2px #ccc;
    }

/*
Global header
*/

#global-header {
  background:url(../images/global-banner-bg.jpg) no-repeat left top;
  height:133px;
  position:relative;
  z-index:5000;
}
    /*
    Branding
    */
    #banner-seal, 
    #banner-org-name {
      border:none;
      position:absolute;
    }
    #banner-seal {
      left:30px;
      top:11px;
    }
    #banner-org-name {
      left:160px;
      top:23px;
    }
    /*
    Search
    */
    #global-search {
      font-weight:normal;
	  font-size:11px;
      position:absolute;
      right:10px;
      text-align:right;
      top:12px;
    }
    #global-search a {
	  color:#fff;
    }
	#global-search p.options {
		font-size:10px;
		color:#FFF
	}
    #global-search-form {
      margin-bottom:4px;
      position:relative;
    }
    #global-search-form label.overlabel {
      left:5px;
      margin-right:0;
      position:absolute;
      top:2px;
      z-index:1;
    }
    #global-search-box, 
    #global-search-button {
      border:1px solid #aaa;
      float:left;
      font-size:12px;
      line-height:normal !important;
      margin:0;
      padding:2px 3px;
	  -webkit-border-radius: 3px;
	  -moz-border-radius: 3px;
      border-radius: 3px;
    }
    #global-search-box {
      width:200px;
    }
    #global-search-menu {
      border:2px solid #aaa;
      float:left;
      margin:0 5px;
      width:140px;
    }
    #global-search-hidden-div {
      display:none;
    }
    #global-search-button {
      background-color:#ddd;
      color:#333;
      cursor:pointer;
	  margin-left:5px;
    }
	#global-search-button:hover {
      background-color:#A7A7A7;
    }
    #global-search-button:focus {
      background-color:#457ea5;
      color:#fff;
    }
    #global-search-button::-moz-focus-inner {
      border:0;
    }
    /*
    Skip navigation (see http://webaim.org/techniques/skipnav/)
    */
    #global-skip-nav, 
    #global-skip-nav:hover, 
    #global-skip-nav:visited {
      color:#fff;
      font-size:11px;
      height:1px;
      left:-999em;
      overflow:hidden;
      position:absolute;
      top:72px;
      width:1px;
    }
    #global-skip-nav:active, 
    #global-skip-nav:focus {
      height:auto;
      left:auto;
      right:10px;
      width:auto;
    } 
    /*
    Global navigation (see http://htmldog.com/articles/suckerfish/dropdowns/)
    */
    #global-nav {
      font-size:11px;
      left:149px;
      position:absolute;
      top:100px;
    }
    #global-nav ul {
      list-style:none;
      margin:0;
      padding:0;
    }
    #global-nav li {
      display:inline;
      float:left;
      height:33px;
      margin:0 10px 0 0;
      padding:0;
      position:relative;
    }
    #global-nav a, 
    #global-nav span {
      border-left:1px solid transparent;
      color:#fff;
      display:block;
      padding:7px 10px 9px 11px;
      text-transform:uppercase;
    }
    #global-nav a:hover {
      text-decoration:none;
    }
    #global-nav li ul {
      border:solid #aaa;
      border-width:0 1px 1px 1px;
      left:-999em;
      position:absolute;
      top:33px;
      width:199px;
    }
    #global-nav li li {
      background-color:#eee;
      height:auto;
    }
    #global-nav li li a, 
    #global-nav li li span {
      border-bottom:1px solid #ddd;
      border-left:none;
      color:#333;
      display:block;
      float:left;
      padding:9px 10px 8px 10px;
      text-transform:none;
      width:179px;
    }

        /* last link in submenu */
        #global-nav li li a.last {
          border-bottom:none;
        }
        /* list items on hover */
        #global-nav li:hover, 
        #global-nav li.over {
          background-color:#eee;
        }
        /* main menu links when tab is hovered over */
        #global-nav li:hover a, 
        #global-nav li.over a, 
        #global-nav li:hover span, 
        #global-nav li.over span {
          border-left:1px solid #aaa;
          color:#003768;
          padding-bottom:10px;
        }
        /* submenu when tab is hovered over */
        #global-nav li:hover ul, 
        #global-nav li.over ul {
          left:0;
        }
        /* submenu list items when main menu tab is hovered over */
        #global-nav li:hover li, 
        #global-nav li.over li {
          border:none;
        } 
        /* submenu links, span when main menu tab is hovered over */
        #global-nav li:hover li a, 
        #global-nav li.over li a, 
        #global-nav li:hover li span, 
        #global-nav li.over li span {
          background-color:#eee;
          border-left:none;
          color:#333;
          padding-bottom:8px;
        }
        /* submenu links when hovered over */
        #global-nav li:hover li a:hover, 
        #global-nav li.over li a:hover, 
        #global-nav li.over li a:focus, 
        #global-nav li.over li a:active {
          background-color:#fcc236;
        }
/*
Local navigation
*/
ul {
	padding-left: 20px;
}
.js #local-nav ul {
  font-size:10px;
  list-style:none;
  margin:0;
  padding:0;
}
.js #local-nav a, 
.js #local-nav span {
  background-color:#eee;
  border-bottom:1px solid #fff;
  color:#333;
  display:block;
  padding:9px 5px;
  text-decoration:none;
}

.js #local-nav span.current, .js #local-nav a.current{
  background-color:#003786;
  color: #fff;
}

.js #local-nav > ul > li > span, .js #local-nav > ul > li > span.current, .js #local-nav > ul > li > a {
  background-color:#999;
  font-weight: bold;
  color: #fff;
}

.js #local-nav  a.subHeader {
	background-color:#999;
	text-transform: none;
	font-weight: normal;
	color: #000;
}

.js #local-nav li li a, 
.js #local-nav li li span {
  font-weight:normal;
  text-transform:none;
}
.js #local-nav a:hover, 
.js #local-nav ul.last-menu a:hover {
  background-color:#A7BCD2;
}
.js #local-nav ul ul ul {
  display:none;
}
/*
Global footer
*/
#global-footer {
  background-color:#003768;
  color:#fff;
  font-size:11px;
  padding:12px 0;
  text-align:center;
}
#global-footer ul {
  clear:left;
  list-style:none;
  margin:6px 0;
  padding:0;
}
#global-footer li {
  display:inline;
}
#global-footer a {
  margin:0 5px;
  color:#fff;
}

/* ------------------------------------------------------------------------------------------
   .island
   ------------------------------------------------------------------------------------------ */
.island {
  display:block;
}
    .island-1 {
      background-color:#eee;
      border:1px solid #ddd;
      padding:10px;
    }
	
/* ------------------------------------------------------------------------------------------
   .tabs (see http://jquerytools.org/demos/tabs/index.html)
   ------------------------------------------------------------------------------------------ */
    .js .tabs-menu {
      list-style:none;
      margin:0;
      padding-left:0;
    }
    .js .tabs-menu-item {
      display:inline;
    }
    .js .tabs-menu-item > a {
      display:inline-block;
    }
    .js .tabs-menu-item > a:focus {
      outline:none;
    }
    .js .tabs-menu-item > a.tabs-menu-item-is-current {
      text-decoration:underline;
    }
/* skin 1 */
    .js .tabs-1 .tabs-menu-item {
      margin-right:5px;
    }
    .js .tabs-1 .tabs-menu-item > a {
      background-color:#eee;
      color:#333;
      font-size:11px;
      font-weight:bold;
      padding:6px 10px;
    }
    .js .tabs-1 .tabs-menu-item > a.tabs-menu-item-is-current {
      background-color:#fff;
      color:#ae0405;
    }
    .js .tabs-1 .tabs-pane {
      background-color:#fff;
      padding:10px;
    }
    .js .tabs-1 .tabs-panes,
    .js .tabs-1 .tabs-panes > .tabs-pane {
      margin-bottom:0;
    }
	
	a.textLink, .tabs-panes a.fwckembeddedlink  {
		font-weight: bold;
    }
	
	a.textLink:hover , .tabs-panes a.fwckembeddedlink:hover{
		text-decoration: underline;
    }
/* ------------------------------------------------------------------------------------------
   .accordion (see http://jquerytools.org/demos/tabs/index.html)
   ------------------------------------------------------------------------------------------ */	
	.js .accordion-slide {
      display:none;
      margin:0;
    }
	
	.static a.subHeader {
		background-image: url('../images/downArrow.png');
	}
	
	.accordion-key a.subHeader {
		background-image: url('../images/rightArrow.png');
		cursor: pointer;
	}
	
	.accordion-key a.accordion-key-is-current {
		background-image: url('../images/downArrow.png');
	}

/*
Press Release
*/
	#locdate + p  { display:inline; }
	#locdate + div { display:inline; }
	#locdate + div p:nth-child(1) {display:inline;}
	#locdate + p div:nth-child(1) {display:inline;}
	
	#locdate + p  + * { padding-top: 10px; }
	#locdate + div + div { padding-top: 15px; }
	#locdate + div p:nth-child(1) + p { padding-top: 15px; }
	#locdate + p div:nth-child(1) + div { padding-top: 15px; }
	
/* General Content */
	#main-content {word-wrap:break-word;}

	#main-content div + h2 {
	    padding-top: 18px;
	}
	
	#main-content h2 {
		font-family: 'Crimson Text', Georgia, serif;
		font-size: 18px;
		font-weight: bold;
		color: #000000;
		padding-bottom: 10px;
	}
	
	#main-content h2.pagelet {
		font-weight:normal;
		padding-bottom: 0px;	
	}
	
	#main-content h3 {
		font-family: 'Crimson Text', Georgia, serif;
		font-size: 16px;
		font-weight: bold;
		color: #000000;
		text-transform: none;
		padding-bottom: 10px;
	}

	#main-content h4 {
		font-style: italic;
		font-family: 'Crimson Text', Georgia, serif;
		color: #000000;
		font-size: 15px;
		padding-bottom: 10px;
	}

	#main-content h5 {
		font-weight: normal;
		color: #000000;
		font-family: 'Crimson Text';
		font-size: 14px;
		font-weight: bold;
		padding-bottom: 10px;
	}

	#main-content div.grid_8 table tbody tr td h2 {
		font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
		line-height:1.5;
		font-size:100%;
		font-weight:normal;
		color:#000;
		padding-bottom: 0px;
	}
	#main-content div.grid_8 table tbody tr td h3 {
		font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
		line-height:1.5;
		font-size:100%;
		font-weight:normal;
		color:#000;
		padding-bottom: 0px;
	}
	#main-content div.grid_8 table tbody tr td h4 {
		font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
		line-height:1.5;
		font-size:100%;
		font-weight:normal;
		color:#000;
		padding-bottom: 0px;
	}
	#main-content div.grid_8 table tbody tr td h5 {
		font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
		line-height:1.5;
		font-size:100%;
		font-weight:normal;
		color:#000;
		padding-bottom: 0px;
	}