@charset "utf-8";
/* CSS Document */
#wrap_header {
	margin-bottom: 20px !important;
}
.bk_popular .hd {
	background-color: #ae3209;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase !important;
	height: auto !important;
	padding: 6px 5px !important;
	margin-bottom: 4px
}
.content_media{
	float: left;
	width: 1000px;
	height: 23px;
	background: #fbfbfb;
	border-bottom: 1px solid #e2e2e2;
	border-top: 3px solid #ae3209;
	padding: 15px 0 10px 0px;
	margin: 0;
	text-transform: uppercase;
}
.content_media ul{
	padding: 0 !important;
	margin: 0 !important;
}
.content_media ul li{
	float: left !important;
	list-style: none !important;
	padding: 0 !important;
	margin: 0 0 0 8px !important;
	height: 20px;
	font-weight: bold;
	font-size: 13px;
	color: #ae3209;
}
.content_media ul li span{
	color: #ae3209;
	padding-right: 10px;
	font-style: italic;
}
.content_header{
	float: left;
	width: 1000px;
	height: auto;
	margin-bottom: 0px;
}
h1.story_heading{
	width: 810px !important;
	font-size: 24px !important;
	margin: 0 !important;
}
h2.story_sub_heading{
	padding: 0 !important;
}
.tvbox .bd{
	background: #fff !important;
	background-image: none !important;
}
.tvbox {
	margin-bottom: 0 !important;
}
.content1,.content2,.content3,content4,.content5,content6{
	color: #333;
}
.content1 h1,.content2 h1,.content3 h1,content4 h1,.content5 h1,content6 h1{
	font-size: 14px !important;
	font-weight: bold !important;
	color: #ad3209 !important;
}
.ads_rectangle{
	background: #fff;
	padding-bottom: 10px;
}
.art_new_ads_468_60{
	 padding: 16px;
	 background: #f5f5f5;
	 text-align: center;
}
.art_new_ads_468_60 a img{
	width: 468px !important;
	min-width: 468px !important;
	height: 60px;
}
#content{
	line-height: 1.5em;
	margin-bottom: 1em;
	margin-top: 0;
	border-top: 0 !important;
	padding-top: 0 !important;
}
#content img {
	max-width: 500px !important;
}
#content p,#content p span{
	line-height: 20px !important;
	font-size: 14px !important;
}
#content p a {
	text-decoration: none;
	color: #ae3209 !important;
}
#content p a:hover {
	text-decoration: underline !important;
}
.content3 p{
	margin-bottom: 0 !important;
	font-size: 15px !important;
	color: #535353 !important;
}
/*#taboola-grid-3x2 img{
	height: 115px !important;
	width: 160px !important;
}*/
.content1 .caption,.content .caption{
	
	background-color: #eef0f4;
	color: #888;
}
.fullCode, noneCode {max-width:500px;}
#v_article iframe {max-width:500px; !important;}
table {max-width:500px; !important;}

.imageNone,.imageBox{
	border: none !important;
	margin-bottom: 15px !important;

}
.imageNone img,.imageBox img{

}
.imageNone .caption{

	border: none !important;
}
.imageBox .caption{

	border: none !important;
}
/*  ----  Right Featured Article ----  */
.right_block1{
	float: left;
	width: 300px;
	height: auto;
	background: #fff;
	padding_bottom: 0 !important;
}
.featured_box{
	margin: 13px auto;
	width: 275px;
	height: 200px;
	background: #fff;
	-moz-box-shadow: 0 0 1px 1px #e4e4e4;
	-webkit-box-shadow: 0 0 1px 1px #e4e4e4;
	box-shadow: 0 0 1px 1px #e4e4e4;
}
.featured_thumb {
	width: 269px;
	height: 194px;	
	/* required to hide the image after resized */
	overflow:hidden;	
	/* for child absolute position */
	position:relative;	
	/* display div in line */
	float:left;
	padding: 3px;
}
.featured_thumb a img {
	height: 194px;
	width: 269px;
}

.featured_thumb .caption {
	width: 269px !important;
	height: 194px;	
	background:#ae3209;
	color:#fff;
	font-weight:bold;		
	/* fix it at the bottom */
	position:absolute;
	left:3px;
	/* hide it by default */
	display:none;
	/* opacity setting */
	filter:alpha(opacity=95);    /* ie  */
	-moz-opacity:0.95;    /* old mozilla browser like netscape  */
	-khtml-opacity: 0.95;    /* for really really old safari */  
	opacity: 0.95;    /* css standard, currently it works in most modern browsers like firefox,  */
}
.featured_thumb .caption:hover {
	opacity: 0.95;    /* css standard, currently it works in most modern browsers like firefox,  */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;

}

.featured_thumb .caption a {
	text-decoration:none;
	color:#fff;
	font: "Arial Black", Gadget, sans-serif;
	font-size:16px;
	height: 50px;	
	/* add spacing and make the whole row clickable*/
	padding:15px;
	display:block;
	overflow: hidden;
}

.featured_thumb .caption p {
	padding: 0;	
	margin: 30px 15px 0 15px;
	font-size:12px;
	font-weight: normal;
	height: 68px;
	overflow: hidden;
}

img.feature_img {
	border:0;
	width: 269px;
	height: 194px;	
	/* allow javascript moves the img position*/
	position:absolute;
}
.ic_caption{
    position:absolute;
	width: 269px !important;
    overflow:hidden;
    margin:0px;
    padding:0px;
    left:3px;
    right:3px;
    bottom:3px;
    cursor:default;
	background: #fff;
	height: 60px;
	/* opacity setting */
	filter:alpha(opacity=95);    /* ie  */
	-moz-opacity:0.95;    /* old mozilla browser like netscape  */
	-khtml-opacity: 0.95;    /* for really really old safari */  
	opacity: 0.95;    /* css standard, currently it works in most modern browsers like firefox,  */
}
.ic_caption h2{
	margin: 5px 8px;
    padding:0;
	height: 50px;
	overflow: hidden;
    font-size:15px;
	color: #fff;
	text-shadow: 1px 1px #fff;
}
.ic_caption h2 a{
    	font-size:15px;
	color: #444;
	text-shadow: 1px 1px #fff;
}
.ic_caption h2 a:hover{
	color: #222;
	text-decoration: none !important;
}
a:hover{
	color: #222;
	text-decoration: none !important;
}
/*.ic_caption h2 a{
    	font-size:15px;
	color: #fff;
	text-shadow: 1px 1px #000;
}
a:hover{
	color: #fff;
	text-decoration: none !important;
}*/
/*  ----  Right Featured Article ----  */


/*  ----  Right Taboola unit ----  */
.right_block2{
	float: left;
	width: 160px;
	height: 500px;
	background: #fff;
	margin-left: 20px;
}
.tv_new{
	padding-bottom: 10px;
	background: #fff;
}


.article_share{
	float: right;
	width: 110px;
	height: auto;
	margin-left: 15px;
	margin-bottom: 15px;
}
.article_share .hd {
	color: #ae3209;
	font-size: 12px;
	text-transform: uppercase !important;
	height: auto !important;
	padding: 6px 0 !important;
	text-align: center;
	margin-bottom: 0px;
	background: #fbfbfb;
	order-top: 3px solid #ae3209;
}
.article_share ul#toolbox {
	margin: 0;
	padding: 0;
}
.article_share ul#toolbox li{
	list-style: none;
	width: 110px !important;
	height: 20px !important;
	margin-bottom: 0px !important;
	padding: 10px 0;
	margin-left: 0 !important;
	border-bottom: 1px dotted #ccc;
	text-align: left;
}


.article_featured_vdo{
		float: left;
		width: 160px;
		height: auto;
		border: none;
		margin-top: 10px;
	}
	ul#inner_featured_video{
		float: left;
		width: 160px;
	}
	ul#inner_featured_video a{
		color: #3b3b3b;
		text-decoration: none;
	}
	ul#inner_featured_video{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	ul#inner_featured_video li{
		width: 160px;
		padding: 0;
		display: block;
		height: auto;
		overflow: auto;
		font-size: 12px;
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
		line-height: 14px;
		padding-bottom: 10px;
	}
	ul#inner_featured_video li.title_featured_video{
		width: 160px;
		padding: 0;
		margin-bottom: 13px;
		list-style: none;
	}
	ul#inner_featured_video li.title_featured_video a{
		float: left;
		width: 160px;
		height: auto;
		padding: 0;
		display: block;
	}
	ul#inner_featured_video li.title_featured_video a.video_text{
		float: left;
		width: 150px;
		height: auto;
		padding: 5px;
		border-top: none;
		font-weight: normal;
		list-style: none;
		display: block;
		background: #f5f5f5;
		color: #3d3d3d;
	}
	.at16nc {
background: none;
}
.at300bs{
background: none;
}


/*  featured new */
.readmore_box{
	margin: 0 auto 13px auto;
	width: 298px;
	height: auto;
	background: #fff;
}
.readmore_thumb {
	width: 298px;
	height: auto;	
	/* required to hide the image after resized */
	overflow:hidden;	
	/* for child absolute position */
	position:relative;	
	/* display div in line */
	float:left;
	padding: 0px;
}
.readmore_thumb a img {
	height: 200px;
	width: 300px;
}
.readmore_thumb .caption{
	width: 300px !important;
	cursor: default;
	background: #fff;
	height: auto;
	border-bottom: 0px solid #f5f5f5;
}
.readmore_thumb .caption h2{
	margin: 5px 0 10px 0;
    padding:0;
	height: auto;
	overflow: hidden;
    font-size:15px;
	color: #fff;
	font-style: normal;
	font-weight: normal;
	/*text-shadow: 1px 1px #fff;*/
}
.readmore_thumb .caption h2 a{
    font-size:15px;
	color: #6d6d6d;
	font-style: normal;
	/*text-shadow: 1px 1px #fff;*/
}
.readmore_thumb .caption h2 a:hover{
	color: #5f5f5f;
	text-decoration: none !important;
}